.np-circular-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    position: relative;

    input[type="button"] {
        min-height: var(--size-40);
        width: var(--size-40);
        height: var(--size-40);
        padding: 0;
        border-radius: 50%;

        margin-bottom: var(--size-8);
    }
    .tw-icon {
        position: absolute;
        top: 8px;
        pointer-events: none;
        color: white;
    }
}

.np-circular-btn__label {
    font-weight: 600;
    font-family: inherit;

    transition: all .15s ease-in-out;

    .np-circular-btn.positive & {
        color: var(--color-control-positive);
    }

    .np-circular-btn.negative & {
        color: var(--color-control-negative);
    }
}

.label-state-colours(accent,
    var(--color-control-accent),
    var(--color-control-accent-hover),
    var(--color-control-accent-active));

.label-state-colours(positive,
    var(--color-control-positive),
    var(--color-control-positive-hover),
    var(--color-control-positive-active));

.label-state-colours(negative,
    var(--color-control-negative),
    var(--color-control-negative-hover),
    var(--color-control-negative-active));

.label-state-colours(@type, @normal, @hover, @active) {
  .np-circular-btn {
        &.@{type} {
            .np-circular-btn__label {
                color: @normal;
            }
            &:hover .np-circular-btn__label,
            input[type="button"]:focus ~ .np-circular-btn__label {
                color: @hover;
            }

            &:active .np-circular-btn__label,
            input[type="button"]:active ~ .np-circular-btn__label {
                color: @active;
            }
        }
    }
}
